#projects{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  /* border: 2px solid red; */
}

/* .slider{
  width: 90%;
  height: 300px;
 
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: scroll;
  overflow-y: hidden;
  gap: 25px;
  scrollbar-width: none;
} */

.slider {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
  padding-top: 3rem;

  display: flex;
  gap: 20px;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  /* padding-left: 3rem;
  padding-right: 3rem; */

  /* hide scrollbar */
  scrollbar-width: none;
}

#para{
  font-size: 3vmax;
  background: linear-gradient(to right, rgb(198, 42,96), #fff);
  background-clip: text;
  color: transparent;
  text-align: center;

}



@media (max-width: 768px) {
  .slider {
    width: 90%;
    /* height: 500px; */
    gap: 20px;
    padding: 12px 0;
  }

  #projects{
  width: 100%;
  height: 50vh;
 
}
 
}