.card{
  /* width: 350px; */
  width: 90%;
  max-width: 380px;
  height: 160px;
  background-color: rgb(20, 26, 31);
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 2px 2px 10px black, 2px 2px 20px black;
  border-radius: 10px;
  transition: all 0.2s;
  cursor: pointer;

  flex-shrink: 0;
}

.card:hover{
   box-shadow: 2px 2px 10px rgb(84, 172, 235), 2px 2px 10px rgb(81, 204, 207);
}

.hovercard img{
  height: 70%;
  /* width: 80%; */
  filter: drop-shadow(2px 2px 10px black);
}

.hovercard{
  width: 100%;
  height: 100%;

  background: linear-gradient(to top, rgba(121, 205, 220, 0.486), rgba(12, 17, 20, 0.495));
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(7px);
}

.card:hover .hovercard{
  transform: translateY(0%);
}

.card h1{
  background: linear-gradient(to right, rgb(42, 167, 198), #fff);
  background-clip: text;
  color: transparent;
  font-size: 20px;
}



@media (max-width: 750px){
  #para{
    max-width: 400px;
  }
}

