#contact{
  width: 100%;
  height: 100vh;
  display: flex;
  /* border: 2px solid red; */
}

.leftcontact{
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.leftcontact img{
  width: 60%;
  filter: drop-shadow(2px 2px 10px rgb(84, 148, 155));
 
}
.rightcontact{
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.rightcontact form{
  width: 80%;
  height: 70vh;
  background-color: rgb(19, 25, 29);
  box-shadow: 2px 2px 10px black, 2px 2px 20px black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 23px;
}

.rightcontact form:hover{
   box-shadow: 2px 2px 10px rgb(105, 208, 215), 2px 2px 10px rgb(105, 208, 215);
}

.rightcontact form input{
  width: 80%;
  height: 3rem;
  border: 2px solid rgb(105, 208, 215);
  border-radius: 20px;
  padding: 20px;
  outline: none;
}

#textarea{
  width: 80%;
  height: 10rem;
  border: 2px solid rgb(105, 208, 215);
  border-radius: 20px;
  padding: 20px;
  outline: none;
}

#btn{
  width: 6.5rem;
  height: 2.7rem;
  background-color: rgb(105, 208, 215);
  border-radius: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: 1.3rem;
  cursor: pointer;
  transition: all .3s;
}

#btn:hover{
  background: transparent;
  color: rgb(105, 208, 215);
}

@media (max-width: 750px){
  #contact{
    flex-direction: column;
  }

  .leftcontact{
    width: 100%;
    height: 50vh;
  }

  .leftcontact img{
    width: 70%; 
  }

  .rightcontact{
    width: 100%;
  }

  #contact{
  height: 120vh;
  margin-top: 3rem;
}

.rightcontact form{
  height: 60vh;
}
}
