nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  z-index: 20;
  background-color: rgb(17, 20, 23);
  /* background-color: black; */
}

nav ul{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: #fff;
  list-style: none;
  font-size: 20px;
}

nav ul a{
  cursor: pointer;
}

/* nav ul a:hover{
  color: rgb(193, 196, 196);
} */

.active{
  color: rgb(107, 211, 211);
  border-bottom: 2px solid white;
}

nav h1{
  background: linear-gradient(to right, rgb(66, 180,205), #fff);
  background-clip: text;
  color: transparent;
  font-size: 30px;
}

.hamburger{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  flex-direction: column;
  display: none;
}

.ham{
  width: 35px;
  height: 2px;
  background-color: #fff;
  transition: all .5s;
}

.mobilemenu{
  position: absolute;
  top: 80px;
  width: 100%;
  height: 100vh;
  /* background-color: rgb(17, 20, 23); */
  background: rgba(17, 20, 23, 0.2);
  backdrop-filter: blur(7px);

  right: 0;
  transform: translateX(100%);
  transition: all 0.5s;
  display: none;
  gap: 30px;
}

.activemobile{
  transform: translate(0%)
}

.activeham .ham:nth-child(1){
  transform: rotate(45deg);
  position: relative;
  top: 8px;
}

.activeham .ham:nth-child(2){
  opacity: 0;
}

.activeham .ham:nth-child(3){
  transform: rotate(-45deg);
  position: relative;
  top: -8px;
}

@media (max-width:750px) {
  .desktopmenu{
    display: none;
  }
  .hamburger{
    display: flex;
  }
  .mobilemenu{
    display: flex;
    flex-direction: column;
  }
} 